@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
.identificacao{
    text-align: center;
    margin: 0;
    float: left;
}

.mensagem{
    margin: 0px auto;
    overflow: hidden;
    padding: 7px 6px;
    text-align: center;
    width: 880px;
}

.mensagem h2{
    font-size: 22px;
    font-weight: normal;
}

.mensagem p{
    font-size: 13px;
    font-weight: normal;
}

.identificacao_conteudo{
    width: 1000px;
    background-color: #f1f1f1;
    padding: 2px 10px;
    margin: 0px auto;
    overflow: hidden;
    text-align: left;
}

.identificacao_conteudo .identificacao_direita{
    width: 350px;
    height: autop;
    overflow: hidden;
    float: left;
    margin-left: 15px;
}

.identificacao_conteudo .identificacao_esquerda{
    width: 410px;
    border-right: 1px solid #ccc;
    height: autop;
    overflow: hidden;
    float: left;
}


.identificacao_conteudo fieldset{
    border: none;
    margin: 5px 0 0px 10px;
    padding: 0 0 0 10px;
    clear: both;
    display: block;
}

.identificacao_conteudo fieldset label{
    display: block;
    margin: 5px 0 0px 0px;
    float: left;
    font-size: 14px;
    color: #868686;
}

.identificacao_conteudo fieldset label input{
    border: 1px solid #ccc;
    margin-top: 7px;
    width: 365px;
    padding: 4px;
    font-size: 11px;
    color: #666;
}

.identificacao_esquerda .bt_direita{
    text-align: right;
    margin: 10px 13px 0 0;
}

.bt_direita{
    text-align: right;
    margin: 10px 0px 0 0;
    float: left;
    width: 100%;
}
.bt_direita .box-bt{width:130px;}
.identificacao_direita ul{
    list-style: none;
}

.identificacao_direita ul li{
    margin: 12px 0;
}

.identificacao_direita ul li h2 a{
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.identificacao_direita ul li p{
    font-size: 11px;
    text-decoration: none;
}

.identificacao_direita ul li p a{
    font-size: 11px;
    text-decoration: none;
}

.formulario_conteudo{
    float:left;
}
.formulario_identificacao .heading-special{
    text-align:left;padding: 0;
    margin: 5px 0;margin-top: 8px;
}

.formulario_identificacao .heading-special h2{
    text-align:left;padding: 0;
    margin:  -2px 4px;
}
.formulario_identificacao{
    width: 1000px;
    margin: 0 auto;
    text-align: left;
}
.footer{
bottom: 0;
width: 100%;
position: fixed;
}
#container {
    width:100%!important;
    margin-top: 0px!important;
}


#container .conteudo_fixo{
    margin: 9px auto;
    
    padding: 0;
}
#conteudo .respiro_conteudo{
    background-color: rgba(221, 221, 221, 0);
    
    display: block;
    position: relative;
}

.formulario_conteudo >.formulario .list label input{
    width: 48%;
    
}

.formulario_conteudo >.formulario .list label.larg_25 input{
    width: 7%;
    
}
.formulario_conteudo >.formulario .list label.larg_50 input{
    width: 30%;
    
}
.formulario_conteudo >.formulario .list label .cep{
    width: 30%;
    
}


.formulario input{
}

.larg_60{width:60%}
.larg_40{width:40%}

.box{
    float:left;
} 