.pedido_dados{
  float: left;
  margin-left: 15px;
  width: 600px;
}
.respiro_conteudo{
    background-color: rgba(221, 221, 221, 0);
  
}
.pedido_dados p{
  display: block;
  font-size: 12px;
  text-align: left;
  margin: 3px 0;
  width: 100%;
  float: left;
}

.pedido_dados p.boleto{
  font-size: 13px;
}

.pedido_dados p.status{
  font-size: 13px;;
}

.pedido_dados p.status img{
  margin: 0;
  vertical-align: middle;
}

.pedido_dados img{
  margin: 5px 0;
}


.tab_carrinho .subtotal th, .tab_carrinho .cupom th, .tab_carrinho .total th, .tab_carrinho .frete th{
  text-align: right;
  font-size: 12px;;
}

.tab_carrinho th{
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  padding: 0 5px;
  white-space: nowrap;
}

.tab_carrinho .item_carrinho td{
  border-bottom: 1px solid #ddd;
  padding: 10px 5px;
  font-size: 13px;
}

.tab_carrinho td{
  text-align: center;
  font-size: 12px;
}

.tab_carrinho{
}

.tab_carrinho tr{
  color: #666;
}

.tab_carrinho a{
  color: #585858;
  text-decoration: none;
}

.tab_carrinho a:hover{
  text-decoration: underline;
}


.tab_carrinho thead th {
    line-height: 36px;
    text-transform: uppercase;
}

.tab_carrinho thead th.th_tit_carrinho {
  background-position: left top;
}

.tab_carrinho .frete{
  text-align: left;
  padding: 5px;
  color: #666;
  font-size: 12px;
  background: #fff;
  line-height: 150%;
}

.tab_carrinho th.frete_valor{
    font-size: 15px;
    text-align: right;
}

.tab_carrinho td.frete_valor{;
    font-size: 15px;
}

.tab_carrinho th.cupom{
    font-size: 15px;
    text-align: right;
}

.tab_carrinho td.cupom{
    font-size: 15px;
    white-space: nowrap;
    padding: 0 10px;
    line-height: 25px;
}

.tab_carrinho th.total{
    font-size: 15px;
    text-align: right;
}

.tab_carrinho td.total{
  white-space: nowrap;
  padding: 0 10px;
  line-height: 25px;
  font-size: 18px;
  font-weight: bold;
}

.bt_esquerda{
    text-align: left;
}

.bt_esquerda a{
    margin: 5px 0px;
}

.depts_filho{
    display: none;
}