.busca_vazio{
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
    width: 1100px;
}
#container .conteudo_fixo{
    background: #ffffff;
    margin-bottom: 50px;
}
.busca_vazio span{
    font-weight: bold;
}
.float{
width: 855px!important;
position: relative;
margin: auto;
float: left!important;
display: block;
}
.nav-vertical-link{
    padding: 4px;
    margin: 0 5px;
}