#rodape {
    margin-top: 40px;
}

/* Rodape */

.newsletter{
    padding: 0 0 0px!important;
    position: relative!important; 
   z-index: 8888;
    border: none;
    background-color: rgba(221, 221, 221, 0)!important;
    /* width: 346px!important; */
    height: 55px!important;
    margin-top: 1px!important;
    display: block!important;
}

.container_newsletter{
	margin: 0 auto;
	position: relative;
}

.container_chat{
	width: 990px;
	margin: 0 auto;
	position: relative;
}

.bt_enviar_news{
    padding: 6px 16px;
    display: inline-block;
    font-weight: bold;
    text-indent: -9999px;
}

.tit_news{
    display: none;
    float: left;
    width: 208px;
    height: 66px;
}

.box_news{
	height: 43px;
	overflow: hidden;
	width: 575px;
}
.box_news h3{display:none;}
.desc_news{
	font-size: 17px;
	float: left;
	text-align: right;
	margin: 5px;
	font-weight: normal;
	width: 133px;
	display: block;
	margin-top: 1px;
}

.bt-buscar-rodape{
	padding: 5px 10px;
}

.box_newsletter{
	margin: 20px 10px 0;
	border: 0 none;
}

.lbl_news{
	display: block;
	float: left;
}

.lbl_news input{
	width: 193px;
	margin-left: 10px;
	padding: 6px 5px;
	font-size: 12px;
	text-align: left;
}

.descadastrar_news{
	float: right;
	margin-right: 70px;
	color: #fff;
	text-decoration: underline;
	font-size: 12px;	
        *width: 85px;
}

/* Rodape Baixo */

.tit_rodape{
	font-size: 18px;
	text-align: left;
	color: #ffffff;
	margin: 0 0 5px;
        font-weight: normal;
	line-height: 22px;
}

.tit_pe{
	font-size: 18px;
	text-align: left;
	margin: 0 0 5px;
         font-family: 'source_sans_prosemibold';
}

.tit_sec_rodape{
	font-size: 24px;
	text-align: left;
        font-weight: normal;
	margin-bottom: 7px;
}

.rodape_baixo{
	clear: both;
	width: 100%;
	position: relative;
	z-index: 8888;
}

.container_pe_baixo{
	width: 990px;
	margin: 0 auto;
	overflow: hidden;	
}

.rodape_esquerda{
	overflow: hidden;
	width: 655px;
	float: left;
	margin-right: 35px;
}

.rodape_direita{
	overflow: hidden;
	float: left;
	margin-top: 30px;
}

.box_institucionais{
	width: 250px;
	overflow: hidden;
	float: left;
	margin-top: 30px;
}

.lista_institucionais{
	display: block;
	margin: 0 0 10px;
}

.lista_institucionais a{
	font-size: 12px;
	line-height: 15px;
	text-align: left;	
}

.box_televendas{
	border-left: 1px solid #eaeaea;
	float: left;
	padding: 0 0 0 30px;
	width: 170px;
	height: 170px;
	margin-top: 30px;
}

.box_televendas p{
	font-size: 11px;
	line-height: 18px;	
}

.box_pagamento{
	clear: both;
	padding: 3px 0;
}

.box_pagamento img{
	margin: 6px 3px;
	float: left;
	max-width: 48px;
}

.box_social_pe{
	margin: 10px 0;
}

.box_seguranca{
	clear: both;
	padding: 10px 0;
	position: relative;
	overflow: hidden;
	height: auto;
}

.blindado, .fcontrol{
	display: inline-block;
	*display: block;
        *float: left;
	padding: 20px 10px;
}

.ebit{
	position: absolute;
	right: 0;
	top: 10px;
}

.direitos{
	clear: both;
	padding: 15px 0;
	position: relative;
	z-index: 8888;
	display: none;
}

.container_direitos{
	width: 990px;
	margin: 0 auto;
	position: relative;
}

.desenvolvimento{
	position: absolute;
	top: 14px;
	right: 0;
}

.container_direitos p{
	text-align: left;
	font-size: 11px;
	line-height: 16px;
}
.rodape_fixed{
    width: 100%;
    float: left;
    position: fixed;
    bottom: -1px;
    z-index: 9999;
}

.rodape_inst{
    width: 1146px;
    margin: auto;
    height: 43px;
    display: block;
    position: relative;
}
.rodape_inst ul {
    width: 1146px;
    display: block;
    height: 45px;
    float: left;
}
.rodape_inst ul li:nth-child(1),.rodape_inst ul li:nth-child(6) {border:none;height: 44px;}
.rodape_inst ul li:nth-child(1) a {}

.rodape_inst ul li:nth-child(5){
    margin-left: 0;
    border: none;
}
.rodape_inst ul li {
    display: block;
    float: left;
    padding: 0px 8px;
    line-height: 46px;
    border-left: 1px solid;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .5px;
    height: 44px;
    cursor: pointer;
}
.rodape_inst .form{
	
    float: right;
    height: 59px;
    position: relative;
    display: block;
    border: none;
}
.news_text{
    width: 147px;
    float: right;
    height: 46px;
    position: relative;
    display: block;
    line-height: 15px;
}
.news_text label{
    width: 157px;
    font-size: 10px;
    text-align: right;
    float: left;
    line-height: 11px;
    position: relative;
    margin-top: -3px;
    margin-left: -19px;
}
.news-name{
    float: left;
    display: block;
    position: relative;
    height: 20px;
    margin-top: .5px;
    width: 200px;
}
.news-email{
    float: left;
    display: block;
    margin-top: 0px;
}
.avaliar .form a{
    width: 49px;
    background-image: none;
    border-radius: 7px;
}
.newsletter  .form a{
    background-image: url(../imagens/sprite_keystone.png);  
    background-position: -605px -10px;
    border-radius: 17px;

    border-radius: 13px;
    display: block;
    float: left;
    padding: 22px 12px;
}
.news-email input,.news-name input{
	
    border: none;
    border-radius: 4px;
    margin-bottom: 0px;
    text-align: center;
    padding: 0;
    float: left;
    height: 18px;
    width: 171px;
}
#footer_bonus_text a{
	line-height: 18px;
	height: 22px;
	display: block;
	float: left;
	margin-top: 5px;
	padding: 0;
}
#footer_bonus_text{
    max-width: 137px;
	
    margin-left: -4px;
    text-align: left;
    font-size: 17px;
    position: relative;
    display: block;
    float: left;
    letter-spacing: .5px;
    padding-left: 19px;
    padding-right: 12px;
    text-transform: inherit;
    height: 43px;
}


.rodape_inst > ul > li:nth-child(2):hover > div{	display:block;	}
.rodape_inst > ul > li:nth-child(3):hover > div{	display:block;}
.rodape_inst > ul > li:nth-child(4):hover > div{	display:block;	}
.rodape_inst > ul > li:nth-child(5):hover > div{	display:block;	}


.rodape_inst > ul > li:nth-child(2) > div .content{}
.rodape_inst > ul > li:nth-child(3) > div .content{}
.rodape_inst > ul > li:nth-child(4) > div .content{}
.rodape_inst > ul > li  >div.newsletter{
    bottom: 0;
}
.rodape_inst > ul > li  >div{
    position: fixed;
    width: 100%;
    background-color: rgba(143, 145, 147, 0);
    height: 160px;
    display: none;
    float: left;
    z-index: 99999;
    bottom: 44px;
    left: 0;
    margin:  0 0;
}
.rodape_inst > ul > li  >div > .content{
    width: 100%;
    height: 160px;
    left: 0;
}

.help_content{
    margin: auto;
	
    width: 1000px;
    height: 160px;
}
.help_content > ul{
    float: left;
    position: relative;
    display: block;
}
.help_content > ul > li {
    float: left;
    position: relative;
    display: block;
    width: 235px;
    border-left: 1px solid #ffffff;
    height: auto;
    padding: 8px;
    margin-top: 15px;
    max-height: 120px;
}
.help_content > ul > li > ul:nth-child(1) {
    margin-top: -9px;
}
.help_content > ul > li > ul {
    float: left;
    position: relative;
    display: block;
    width: 200px;
}
.help_content > ul > li > ul >li {
    height: 34px!important;
    font-size: 13px;
    border: none;
    
    line-height: 48px;
}
.help_content  h1{
    font-size: 16px;
    line-height: 29px;
    color: #ffffff;
}

.help_content  span{
    font-size: 12px;
    line-height: 17px;
    text-align: left;
    display: block;
}




.payment_content{
    margin: auto;
	
    width: 1000px;
    height: 160px;
}
.payment_content > ul{
    float: left;
    position: relative;
    display: block;
}
.payment_content > ul > li:nth-child(1) {
    width: 482px;
}
.payment_content > ul > li {
    float: left;
    position: relative;
    display: block;
    width: 522px;
    height: auto;
    padding: 8px;
    margin-top: 21px;
    max-height: 120px;
}
.payment_content > ul > li > ul:nth-child(1) {
    margin-top: -9px;
}
.payment_content > ul > li > ul {
    float: left;
    position: relative;
    display: block;
    width: 200px;
}
.payment_content > ul > li > ul >li {
    height: 15px;
    font-size: 13px;
    border: none;
    
    background-color: #9B9C9D;
}
.payment_content  h1{
    font-size: 16px;
    line-height: 29px;
    color: #fff;
}

.payment_content  span{
    font-size: 12px;
    line-height: 17px;
    text-align: left;
    display: block;
}




.security_content{
    margin: auto;
	
    width: 1000px;
    height: 160px;
}
.security_content > ul{
    float: left;
    position: relative;
    display: block;
}
.security_content > ul > li:nth-child(1) {
    width: 600px;
}
.security_content > ul > li {
    float: left;
    position: relative;
    display: block;
    width: 253px;
    border: none;
    height: auto;
    padding: 8px;
    margin-top: 0px;
    max-height: 120px;
}
.security_content > ul > li > ul:nth-child(1) {
    margin-top: -9px;
}
.security_content > ul > li > ul {
    float: left;
    position: relative;
    display: block;
    width: 200px;
}
.security_content > ul > li > ul >li {
    height: 15px;
    font-size: 13px;
    border: none;
    
    background-color: #9B9C9D;
}
.security_content  h1{
    font-size: 16px;
}

.security_content  span{
    font-size: 12px;
    line-height: 17px;
    text-align: left;

    display: block;
}

.footercnpj{
    float: left;
	
    position: absolute;
    display: block;
    left: 173px;
    top: -17px;
    font-size: 13px;
}

.footer_cnpj{
	
    margin: auto;
    display: block;
    position: relative;
    margin-top: -67px;
    width: 1124px;
    text-align: left;
}

.name_mail{
	float:left;
	display: block;
	width: 175px;
}
.nascimento_gender {
    float: left;
	
    position: relative;
    max-width: 177px;
}
.nascimento_gender span{
    float: left;
	
    display: block;
    position: relative;
    margin: 1px 0;
    width: 173px;
}
.nascimento_gender  input{
  border: none;
  border-radius: 4px;
  margin-bottom: 0px;
  text-align: center;
  padding: 0;
  float: left;
  height: 18px;
  width: 171px;
}
.nascimento_gender  input[type="radio"]{
  border: none;
  border-radius: 4px;
  margin-bottom: 0px;
  text-align: center;
  padding: 0;
  float: left;
  height: 18px;
  width: 23px;
}

.nascimento_gender label
{
    float: left;
	
    display: block;
    position: relative;
    font-size: 9px;
    line-height: 19px;
}

.rodape_cnpj{
    width: 100%;

    display: block;
    float: left;
}

.rodape_cnpj div{
	
}