/* Layout */

.tit_lista_presente{
  background: url('../imagens/tit_lista_presente.png') no-repeat left center transparent;
  overflow: hidden; 
  padding: 20px 0 15px;
  margin: 10px 0 0;
}

.tit_lista_presente h2{
  margin: 0 0 10px 80px;
  border-bottom: 3px solid #062a59;
  color: #062a59;
  font-size: 18px;
}


/* Tabela */

.tab_lista_presente{
  clear: both;
}

#minha_lista_presente{
  margin-top: 10px;
}

.tab_lista_presente td{
    text-align: center;
}

.tab_lista_presente{
    width: 100%;
}

.tab_lista_presente tr{
    color: #052547;
}

.tab_lista_presente tbody tr:hover {
    background: none repeat scroll 0 0 #f2f2f2;
}

.tab_lista_presente a{
    color: #052547;
    text-decoration: none;
}

.tab_lista_presente a:hover{
    text-decoration: underline;
}

.tab_lista_presente thead tr th{
    font-size: 13px;
    font-weight: bold;
    line-height: 33px;
    padding: 0 5px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

.tab_lista_presente tbody tr td{
    border-bottom: 1px solid #E5E5E5;
    color: #89582E;
    font-size: 12px;
    padding: 10px 5px;
    text-align: center;
}

.tab_lista_presente tbody tr td:first-child, .tab_lista_presente thead tr th:first-child{
  padding-left: 20px;
}

.paginacao_lista{
    text-align: center;
    margin-top: 30px;
}

.paginacao_lista a{
  text-decoration: none;
  font-weight: bold;
  color: #052547;
  font-size: 12px;
  padding: 0 5px;
        display: inline-block;
}

.paginacao_lista a:hover{
  text-decoration: underline;
}

.paginacao_lista a.selecionado{
  border: 1px solid #052547;
  color: #052547;
  padding: 2px 5px;
}

.lista_nova_busca{
   background: url(../imagens/bg_lista_nova_busca.jpg) no-repeat left top #F5F5F5;
   overflow: hidden;
   margin-top: 50px;
   padding: 40px 0 15px 0;
}

.lista_nova_busca fieldset{
   border:none;
   width: 97%;
   margin: 0 auto;
}

.lista_nova_busca fieldset label{
  float: left;
  width: 290px;
  color: #666666;
  font-size: 12px;
  font-family: arial;
}


.lista_nova_busca fieldset label input{
  border: 1px solid #ccc;
  height: 22px;
  width: 95%;
  color: #666;
  font-size: 12px;
  margin-top: 3px;
}

.lista_nova_busca fieldset label select{
  border: 1px solid #ccc;
  height: 22px;
  width: 95%;
  color: #666;
  font-size: 12px;
  margin-top: 3px;
}