/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
body #colorbox #colorbox, body #cboxOverlay, body #colorbox #cboxWrapper{position:absolute; top:0; left:0; z-index: 9999999; overflow: visible;}
body #cboxOverlay{position:fixed; width:100%; height:100%; opacity: 0.75 !important;}
body #colorbox #cboxMiddleLeft, body #colorbox #cboxBottomLeft{clear:left;}
body #colorbox #cboxContent{position:relative; overflow:visible;}
body #colorbox #cboxLoadedContent{overflow:auto;}
body #colorbox #cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
body #colorbox #cboxTitle{margin:0;}
body #colorbox #cboxLoadingOverlay, body #colorbox #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height: 100%;}
body #colorbox #cboxPrevious, body #colorbox #cboxNext, body #colorbox #cboxClose, body #colorbox #cboxSlideshow{cursor:pointer;}

/*
    ColorBox example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
body #cboxOverlay{background:#000;}

body #colorbox{overflow: visible !important;z-index: 9999999;}
    body #colorbox #cboxTopLeft{width:14px; height:14px; background:url(../imagens/controls.png) 0 0 no-repeat;}
    body #colorbox #cboxTopCenter{height:14px; background:url(../imagens/border.png) top left repeat-x;}
    body #colorbox #cboxTopRight{width:14px; height:14px; background:url(../imagens/controls.png) -36px 0 no-repeat;}
    body #colorbox #cboxBottomLeft{width:14px; height:15px; background:url(../imagens/controls.png) 0 -60px no-repeat;}
    body #colorbox #cboxBottomCenter{height:15px; background:url(../imagens/border.png) bottom left repeat-x;}
    body #colorbox #cboxBottomRight{width:14px; height:15px; background:url(../imagens/controls.png) -36px -60px no-repeat;}
    body #colorbox #cboxMiddleLeft{width:14px; background:url(../imagens/controls.png) -175px 0 repeat-y;}
    body #colorbox #cboxMiddleRight{width:14px; background:url(../imagens/controls.png) -211px 0 repeat-y;}
    body #colorbox #cboxContent{background:#fff;}
        body #colorbox #cboxLoadedContent{margin-bottom:5px;}
        body #colorbox #cboxLoadingOverlay{}
        body #colorbox #cboxLoadingGraphic{background:url(../imagens/loader.gif) center center no-repeat;}
        body #colorbox #cboxTitle{position:absolute; bottom:-25px; left:0; text-align:center; width:100%; font-weight:bold; color:#7C7C7C;}
        body #colorbox #cboxCurrent{position:absolute; bottom:-25px; left:58px; font-weight:bold; color:#7C7C7C;}

        body #colorbox #cboxPrevious, body #colorbox  #cboxNext, body #colorbox  #cboxClose, body #colorbox #cboxSlideshow{position:absolute; bottom:-29px; background:url(../imagens/controls.png) 0px 0px no-repeat; width:31px; height:20px; text-indent:-9999px;}
        body #colorbox #cboxPrevious{left:0px; background-position: -51px -25px;}
        body #colorbox #cboxPrevious.hover{background-position:-51px 0px;}
        body #colorbox #cboxNext{left:27px; background-position:-75px -25px;}
        body #colorbox #cboxNext.hover{background-position:-75px 0px;}
        body #colorbox #cboxClose{right:10px; top:-24px; background-position:-96px -25px; border: none;}
        body #colorbox #cboxClose.hover, body #colorbox #cboxClose:hover{background-position:-96px -2px;}
        
        body #colorbox .cboxSlideshow_on #cboxSlideshow{background-position:-125px 0px; right:27px;}
        body #colorbox .cboxSlideshow_on #cboxSlideshow.hover{background-position:-150px 0px;}
        body #colorbox .cboxSlideshow_off #cboxSlideshow{background-position:-150px -25px; right:27px;}
        body #colorbox .cboxSlideshow_off #cboxSlideshow.hover{background-position:-125px 0px;}

body #colorbox .cboxIEa{
    width: 600px !important;
    height: 300px !important;
}