.rate .form input[type="text"], .rate .form textarea {
    width: 100% !important;
}

.rate-product-image{
	
}

.rate-products .rate-products-iten{
    clear: both;
    margin: 20px 0;
}

.rate-products li .avaliacao_estrela{
    text-decoration: none;
    list-style: none;
    overflow: hidden;
    margin: 3px 0 0 0;
}

.rate-products li .avaliacao_estrela li{
    cursor: pointer;
    float: left;
    margin-top:0;
}