.avaliacao_estrela{
    text-decoration: none;
    list-style: none;
    overflow: hidden;
    margin: 3px 0 0 0;
}

.avaliacao_estrela li{
    cursor: pointer;
    float: left;
    margin-top:0;
}

.ciashop-form input[type="text"]{
    width: 100% !important;
}