#busca_cep{
    width: 676px;
    margin: 0;
    font-family: inherit;
}

.containerMiniaturas ul{
    margin: 0;
    padding: 0;
}

.containerMiniaturas ul li{
    list-style: none;
    display: inline-block;
}

/*bundles */

.comnpre_junto_adiciona, .comnpre_junto_remove{
	cursor: pointer;
}

.bundles-iten .thumbnail{
    border: 0 none;
    border-radius: 0;
	background: none;
}

.bundles-images{
	background: #fff;
}