.shipping-methods li{
    border: 1px solid #eee;
    padding: 10px;
    list-style: none;
    margin: 10px 0;
}

.shipping-method td{
    padding: 15px;
}

.shipping-method td strong{
    display: block;
    margin-bottom: 5px;
    font-size: 13px;
}

#txtCupomDesconto{
	width: 100% !important;
}
