.box_opiniao .form input[type="text"]{
	width: 100% !important;
}

.produto_avaliar{
    clear: both;
    list-style: none;
}

.produto_avaliar li{
    margin-top: 50px;
    overflow: hidden;
}

.produto_avaliar li h3{
    padding: 7px 10px;
    font-weight: bold;
    font-size: 13px;
}

.produto_avaliar li .opiniao_foto{
    background: #fff;
    text-align: center;
    margin-top: 20px;
}

.produto_avaliar li .opiniao_conteudo{
    margin-left: 15px;
    margin-top: 20px;
}

.produto_avaliar li .opiniao_conteudo .opiniao_avaliacao{
    font-weight: bold;
    font-size: 11px;
    clear: both;
    overflow: hidden;
}

.produto_avaliar li .opiniao_conteudo .opiniao_comentario{
    font-weight: bold;
    font-size: 11px;
    clear: both;
    margin-top: 10px;
}

.produto_avaliar li .opiniao_conteudo .opiniao_comentario textarea{
    border: 1px solid #ccc;
    font-size: 11px;
    padding: 4px;
    vertical-align: middle;
    margin-top: 3px;
}

.produto_avaliar li .avaliacao_estrela{
    text-decoration: none;
    list-style: none;
    overflow: hidden;
    margin: 3px 0 0 0;
}

.produto_avaliar li .avaliacao_estrela li{
    cursor: pointer;
    float: left;
    margin-top:0;
}

.bt_opniao{
    text-align: right;
}