.rate-products {
    overflow: hidden;
}

.rate-products-iten{
    clear: both;
    margin-top: 20px;
    overflow: hidden;
}

.avaliacao_estrela {
    list-style: outside none none;
    overflow: hidden;
}

.avaliacao_estrela li {
    cursor: pointer;
    float: left;
    padding: 0 2px;
}