.identificacao{
    text-align: center;
    margin-top: 40px;
}

.mensagem{
    margin: 15px auto;
    overflow: hidden;
    padding: 20px 10px;
    text-align: center;
    width: 880px;
}

.mensagem h2{
    font-family: 'source_sans_prosemibold';
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 10px;
}

.mensagem p{
    font-size: 13px;
    font-weight: normal;
}

.identificacao_conteudo{
    width: 880px;
    background-color: #f1f1f1;
    padding: 10px;
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
}

.identificacao_conteudo .identificacao_direita{
    width: 350px;
    height: autop;
    overflow: hidden;
    float: left;
    margin-left: 15px;
}

.identificacao_conteudo .identificacao_esquerda{
    width: 410px;
    border-right: 1px solid #ccc;
    height: autop;
    overflow: hidden;
    float: left;
}


.identificacao_conteudo fieldset{
    border: none;
    margin: 5px 0 0px 10px;
    padding: 0 0 0 10px;
    clear: both;
    display: block;
}

.identificacao_conteudo fieldset label{
    display: block;
    margin: 5px 0 0px 0px;
    float: left;
    font-size: 14px;
}

.identificacao_conteudo fieldset label input{
    border: 1px solid #ccc;
    margin-top: 7px;
    width: 365px;
    padding: 4px;
    font-size: 11px;
    color: #666;
}

.identificacao_esquerda .bt_direita{
    text-align: right;
    margin: 10px 13px 0 0;
}

.bt_direita{
    text-align: right;
    margin: 10px 0px 0 0;
}

.identificacao_direita ul{
    list-style: none;
}

.identificacao_direita ul li{
    margin: 12px 0;
}

.identificacao_direita ul li h2 a{
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.identificacao_direita ul li p{
    font-size: 11px;
    text-decoration: none;
}

.identificacao_direita ul li p a{
    font-size: 11px;
    text-decoration: none;
}

.formulario_identificacao{
    width: 880px;
    margin: 0 auto;
    text-align: left;
}