/*topo*/

.header{
    height: 95px;
    margin: 0 auto;
    position: relative;
    width: 990px;
}
.containertopo {
    width: 100%;
    border-bottom: 5px solid #cfcfcf;
}
.topo_esquerda{
    float: left;
}
.logo h1{
    display: block;
    height: 70px;
    left: 0;
    position: absolute;
    text-indent: -9999px;
    top: 15px;
    width: 270px;
}

.logo h1 a{
    width: 100%;
    height: 100%;
    display: block;
}

.passos {
    float: right;
    margin: 12px 0 0;
    overflow: hidden;
    text-align: right;
}